@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-screen {
    @apply max-w-screen-xl mx-auto px-4 md:px-8;
}

/* Customize Video Player */

.plyr {
    border-radius: 8px;
}

html, body {
    background-color: #111827; /* Dark background */
    color: #e5e7eb; /* Light text color */
    font-family: 'Inter', sans-serif;
}


header, nav {
    background-color: #111827; /* Navbar background */
}
